


/* Controls/Associated States */
.data-table-column-options {
    width: 20em;
    box-sizing: border-box;
}

.data-table-column-options .control-button {
    cursor: pointer;
    border: 1px solid black;
    padding: 0 .2em 0 .2em;
    font-weight: bolder;
}



.data-table-column-options .filter-by-cell-values {
    border: 1px solid gray;
    height: 12em;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
}

.data-table-column-options .filter-by-cell-values li {
    list-style-type: none;
}




/* Fonts */
.data-table-column-options {
    font-size: .8em;
}

.data-table-column-options.context-control-mobile-view {
    font-size: 1em;
}



/* Cursors */
.data-table-column-options .field input, .data-table-column-options .field label, .filter-by-value-description label, .data-table-column-header {
    cursor: pointer;
}

.data-table-column-header:hover, .data-table-column-options .control-button:hover {
    background-color: rgb(157, 157, 255);
    transition: background-color .5s;
}



/* Layout/Sizing */
.data-table-column-options .title-bar .column-title {
    width: 80%;
    display: inline-block;
    font-weight: bold;
    font-size: 120%;
    text-decoration: underline;
}

.data-table-column-options .title-bar .control-buttons {
    width: 20%;
    text-align: right;
    display: inline-block;
}


.section-container {
    display: inline-block;
    vertical-align: top;
}

.data-table-column-options .section .sub-section {
    width: 50%;
    display: inline-block;
}


.data-table-column-options .field-group .field {
    display: inline-block;
}

.section {
    margin-bottom: .5em;
}

.data-table-column-options .section .section-content {
    display: inline-block;
    border: 1px solid black;
    padding: .5em;
}

.data-table-column-options input.filter-by-value-value {
    width: 100%;
}

.data-table-column-options .section-title {
    margin: 0 0 .8em 0
}

.data-table-column-options .clear-filter-field {
    margin-bottom: .5em;
}

.data-table-column-options.context-control-mobile-view {
    min-width: 315px;
    min-height: 590px;
    border: 0;
}

.data-table-column-options .filter-by-value-container {
    padding: .5em .5em .5em 0;
}